body{
			font-size:12px;
			font-family:Verdana,Arial;
		}
		#feedback{
			position: fixed;
			bottom:-310px;
			right:0px;
		}
		#feedback form{
			height:170px;
			float: left;
			border: 1px solid #999;
			padding: 10px;
			border-radius:5px;
		}
		#feedback form label{
			display: block;
			float: left;
			text-align:right;
			margin-right:20px;
			width:70px;
			font-weight:bold;
			color: 019AC6;
			font-size:14px;
		}
		#feedback a{
			opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
			background:url("feedback_icon.jpg")  no-repeat center left transparent;
			display: block;
			width:45px;
			height:45px;
			float: left;
			text-indent:-9999em;
			position: fixed;
			bottom:0px;
			right:0px;
			

		}
		#feedback a:hover{
			 opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
		}
		#feedback form .btn5
			float: right;
			background:url("send.png")  no-repeat 0px 0px transparent;
			text-indent:-9999em;
			width:80px;
			height:28px;
			border:none;

		}
		#feedback form textarea{
			width:300px;
			height:140px;
			border: 1px solid #019AC6;
		}
		#feedback form input[type="text"]{
			width:250px;
			height:30px;
			border: 1px solid #019AC6;
		}
		#feedback h2{
			text-align:center;
			color: #019AC6;
			/*text-shadow:0.2px 0.3px 0.3px #000;*/
			font-size:22px;

		}
#slider{
	width:85%;
}
#slider .ui-slider-range { background:cyan; }